{% extends 'home.html' %}

{% block content %}
    <h1>Search Comments</h1>
        <form action="{% url 'search_comments' %}" method="get">
            <label for="search_query">Search Query:</label>
            <input type="text" id="search_query" name="query" placeholder="Enter your search query" required>
            <button type="submit">Search</button>
        </form>

        {% if comments %}
            <h2>Search Results:</h2>
            <ul>
                {% for comment in comments %}
                    <li>{{ comment }}</li>
                {% endfor %}
            </ul>
        {% endif %}
{% endblock %}